langchain
langchain-core

langchain-openai
openai
langchain-anthropic

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub

python-dotenv

numpy 
scikit-learn
pandas

langchain-community
langchain-openai
langchain-core
python-dotenv
pypdf
beautifulsoup4

langchain
langchain-community
langchain-experimental
langchain-openai
pypdf

langchain 
chromadb 
openai 
tiktoken 
pypdf 
langchain_openai 
langchain-community
langchain-chroma


langchain 
chromadb 
faiss-cpu 
openai 
tiktoken 
langchain_openai 
langchain-community 
wikipedia